MVCWebApplicationService/Connected Services/OrderService/ApplicationService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Data.Entities" />
  <xs:complexType name="ArrayOfOrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDTO" nillable="true" type="tns:OrderDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDTO" nillable="true" type="tns:ArrayOfOrderDTO" />
  <xs:complexType name="OrderDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Data.Entities" minOccurs="0" name="OrderedBy" nillable="true" type="q1:Customer" />
          <xs:element minOccurs="0" name="PaintId" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Data.Entities" minOccurs="0" name="PaintOrdered" nillable="true" type="q2:Paint" />
          <xs:element minOccurs="0" name="Quantity" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderDTO" nillable="true" type="tns:OrderDTO" />
  <xs:complexType name="BaseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDTO" nillable="true" type="tns:BaseDTO" />
</xs:schema>