MVCWebApplicationService/Connected Services/PaintService/ApplicationService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPaintDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaintDTO" nillable="true" type="tns:PaintDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaintDTO" nillable="true" type="tns:ArrayOfPaintDTO" />
  <xs:complexType name="PaintDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsAvailable" type="xs:boolean" />
          <xs:element minOccurs="0" name="PaintType" type="xs:int" />
          <xs:element minOccurs="0" name="Price" type="xs:double" />
          <xs:element minOccurs="0" name="Quantity" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaintDTO" nillable="true" type="tns:PaintDTO" />
  <xs:complexType name="BaseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDTO" nillable="true" type="tns:BaseDTO" />
</xs:schema>