MVCWebApplicationService/Connected Services/PaintService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Paint" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaint_Message_InputMessage">
    <wsdl:part name="parameters" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="IPaint_Message_OutputMessage">
    <wsdl:part name="parameters" element="tns:MessageResponse" />
  </wsdl:message>
  <wsdl:message name="IPaint_GetPaints_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaints" />
  </wsdl:message>
  <wsdl:message name="IPaint_GetPaints_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaintsResponse" />
  </wsdl:message>
  <wsdl:message name="IPaint_GetAvailablePaints_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailablePaints" />
  </wsdl:message>
  <wsdl:message name="IPaint_GetAvailablePaints_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailablePaintsResponse" />
  </wsdl:message>
  <wsdl:message name="IPaint_GetPaintByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaintByID" />
  </wsdl:message>
  <wsdl:message name="IPaint_GetPaintByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaintByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPaint_GetAvailablePaintByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailablePaintByID" />
  </wsdl:message>
  <wsdl:message name="IPaint_GetAvailablePaintByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailablePaintByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPaint_PostPaint_InputMessage">
    <wsdl:part name="parameters" element="tns:PostPaint" />
  </wsdl:message>
  <wsdl:message name="IPaint_PostPaint_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostPaintResponse" />
  </wsdl:message>
  <wsdl:message name="IPaint_DeletePaint_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePaint" />
  </wsdl:message>
  <wsdl:message name="IPaint_DeletePaint_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePaintResponse" />
  </wsdl:message>
  <wsdl:message name="IPaint_MakePaintUnavailable_InputMessage">
    <wsdl:part name="parameters" element="tns:MakePaintUnavailable" />
  </wsdl:message>
  <wsdl:message name="IPaint_MakePaintUnavailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakePaintUnavailableResponse" />
  </wsdl:message>
  <wsdl:portType name="IPaint">
    <wsdl:operation name="Message">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaint/Message" message="tns:IPaint_Message_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaint/MessageResponse" message="tns:IPaint_Message_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaints">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaint/GetPaints" message="tns:IPaint_GetPaints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaint/GetPaintsResponse" message="tns:IPaint_GetPaints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailablePaints">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaint/GetAvailablePaints" message="tns:IPaint_GetAvailablePaints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaint/GetAvailablePaintsResponse" message="tns:IPaint_GetAvailablePaints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaintByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaint/GetPaintByID" message="tns:IPaint_GetPaintByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaint/GetPaintByIDResponse" message="tns:IPaint_GetPaintByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailablePaintByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaint/GetAvailablePaintByID" message="tns:IPaint_GetAvailablePaintByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaint/GetAvailablePaintByIDResponse" message="tns:IPaint_GetAvailablePaintByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostPaint">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaint/PostPaint" message="tns:IPaint_PostPaint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaint/PostPaintResponse" message="tns:IPaint_PostPaint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePaint">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaint/DeletePaint" message="tns:IPaint_DeletePaint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaint/DeletePaintResponse" message="tns:IPaint_DeletePaint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakePaintUnavailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaint/MakePaintUnavailable" message="tns:IPaint_MakePaintUnavailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaint/MakePaintUnavailableResponse" message="tns:IPaint_MakePaintUnavailable_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPaint" type="tns:IPaint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Message">
      <soap:operation soapAction="http://tempuri.org/IPaint/Message" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaints">
      <soap:operation soapAction="http://tempuri.org/IPaint/GetPaints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailablePaints">
      <soap:operation soapAction="http://tempuri.org/IPaint/GetAvailablePaints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaintByID">
      <soap:operation soapAction="http://tempuri.org/IPaint/GetPaintByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailablePaintByID">
      <soap:operation soapAction="http://tempuri.org/IPaint/GetAvailablePaintByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostPaint">
      <soap:operation soapAction="http://tempuri.org/IPaint/PostPaint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePaint">
      <soap:operation soapAction="http://tempuri.org/IPaint/DeletePaint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePaintUnavailable">
      <soap:operation soapAction="http://tempuri.org/IPaint/MakePaintUnavailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Paint">
    <wsdl:port name="BasicHttpBinding_IPaint" binding="tns:BasicHttpBinding_IPaint">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/Paint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>